@import url('https://fonts.googleapis.com/css2?family=Poetsen+One&family=Raleway:ital,wght@0,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

@layer base {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-rale;
  }

  h1 {
    @apply text-2xl;
  }
  h2 {
    @apply text-xl;
  }
  
  .dark h1,
  .dark h2,
  .dark h3,
  .dark h4,
  .dark p,
  .dark a {
    @apply text-white;
  }

  .btn {
    @apply text-white p-5 rounded-sm bg-puertoRico-300
  }

  a:hover {
    @apply text-puertoRico-600
  }



}

@layer components {
  .preloader::before {
    content: '';
    position: absolute;
    width: 120px;
    height: 120px;
    border: 20px solid #007a33;
    border-top-color: transparent;
    border-radius: 50%;
    animation: preloader 1s linear infinite;
    top: -80px;
    left: -80px;
    box-sizing: content-box;
  }

  .logo {
    @apply text-3xl font-poetsen text-salem-800;
    color: #5cd0b3;
    border-bottom: 2px solid #000
  }

  .dark .logo {
    border-bottom: 2px solid #fff;
  }

  .quote:before { 
    content: open-quote;
    font-size: 4em;
    left: -.7em;
    top: 0.1em;
    @apply absolute;
    @apply font-bold;
    @apply text-puertoRico-300
}

  /* ... */
}

/* Main Style */
body {
  @apply bg-gray-100;
}

.dark body {
  @apply bg-gray-900;
}

.dark #root {
  @apply bg-gray-800;
}